@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBg {
  @apply bg-gradient-to-r from-[#ff1e1e] to-[#ff8079];
}
.gradientTextBg {
  @apply gradientBg text-transparent bg-clip-text;
}
.bannerBg {
  background: url(./assets/banner/banner_bg.png);
  object-fit: cover;
}
<<<<<<< HEAD
.container {
  padding: 0 15px;
}
/* Example CSS to apply background color to the table heading row */
th {
  background-color: #4a90e2; /* Change the color to your desired background color */
  color: white; /* Optional: Change the text color */
}
=======
>>>>>>> 861be0802a6ed8c6d587499394c74909367370a4
